.voiceInfo {
    font-family: Avenir, Helvetica, Arial, sans-serif;
    position: fixed;
    text-align: right;
    bottom: 5px;
    padding: 0;
    right: 5px;
    font-size: 12px;
    font-weight: 700;
    color: #94969700;
    text-shadow: 1.25px 0 0 #00000000, 0 -1.25px 0 #00000000, 0 1.25px 0 #00000000, -1.25px 0 0 #00000000
}

.talking {
    color: hsla(0, 0%, 100%, 0)
}

p {
    margin: 0
}
